/* CSS GENERAL DE JAVI.HTML*/
header{
  background-color: black;
}
  #logo{
    width: 10%;
  }
  #titulo{
    margin-left: 45%;
  }
  #navbarSupportedContent{
    margin-left: 20%;
  }
  #navbar{
    height: 120px;
  }
  #javi{
    margin-top: 200px;
    width: 20%;
    height: 20%;
    margin-left: 20%;
    float: left;
    padding-right: 1%;



  }
  footer{
    clear: both;
   text-align: center;
     padding: 20px;
      border-top: 2px solid #999999;

  }
      h2{
         margin-top:200px;
         margin-right:  10%;
         padding-left:  20%;
      }
      #pie{
        margin-top: 30%;
        width: 100%;
      }
      #mapa{
        width: 25%;
      }
     .roja{
       border: 1px solid black;
       background: red;
       width: 50px;
       height: 25px;
     }
     .foto{
       width: 250px;
       height: 250px;
       margin-top: 10%;
       margin-left: 10%;
     }
     #proyectos{
        margin-top: 10%;
        margin-left: 35%;
     }
     iframe{
       margin-top: -250px;
       margin-left: 50%;
     }
     .comentario{
    border-radius: 5px;
    background-color: #62C0D5;
    color: floralwhite;
    padding: 10px;
    width: 420px;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    margin-left: 10%;
    margin-top: 15%
    }
    .social {
      padding: 0;
position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
margin-left: 0%; /* Establecemos la barra en la izquierda */
top: 40%; /* Bajamos la barra 250px de arriba a abajo */
z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
    .social ul {
  		list-style: none;
      margin-left: 0%;
      padding: 0;
  	}
  	.social ul li a {
      margin-left: 0%;
  		display: inline-block;
  		color:#fff;
  		background: #000;
  		padding: 15px 15px;
  		text-decoration: none;
  		-webkit-transition:all 500ms ease;
  		-o-transition:all 500ms ease;
  		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
  	}
  	.social ul li .icon-facebook {color:#fff; background:#3b5998; }
  	.social ul li .icon-twitter {color:#fff; background: #00abf0; }
  	.social ul li .icon-googleplus {background: #d95232;}
  	.social ul li .icon-pinterest {background: #ae181f;}
  	.social ul li .icon-mail {background: #666666;}
  	.social ul li a:hover {
  		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
  		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
  	}
    .comentario{
      margin-top: 300px;
    }
/*mensajes Directos*/
.red{
    color:red;
    }
.mensajesDirectos{
  margin-top: 300px;
}
